### Read Smallcases

In [2]:
import re
import numpy as np
import pandas as pd
import requests

local_base_url = "http://localhost:7999"

/var/folders/lq/280gf8ld14v161g6ngpdjjnc0000gn/T/ipykernel_86081/1381056079.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Connect to services
import os
import sys

backend_path = os.path.abspath(os.path.join(os.getcwd(), '../backend'))
sys.path.append(backend_path)

from app.internal.firebase import db, bucket

/Users/aaryanpagar/Library/Python/3.11/lib/python/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [4]:
ids = [
    {"id": "SCAW_0001", "name": "All Weather Investing"},
    {"id": "SCMO_0015", "name": "Safe Haven"},
    {"id": "SCMO_0026", "name": "Growth & Income"},
    {"id": "SCMO_0016", "name": "The Naked Trader"},
    {"id": "SCMO_0024", "name": "The PE List"},
    {"id": "SCMO_0013", "name": "Dividend Stars"},
    {"id": "SCMO_0014", "name": "Dividend Aristocrats"},
    {"id": "SCNM_0025", "name": "Electric Mobility"},
    {"id": "SCNM_0012", "name": "Rising Rural Demand"},
    {"id": "SCTR_0014", "name": "House of Tata"},
    {"id": "SCTR_0017", "name": "House of Murugappa"},
    {"id": "SCTR_0010", "name": "Realty Tracker"},
]
smallcase_id = ids[11]["id"]
smallcase_sheet_path = f"data/smallcases/{smallcase_id}_Timeline.xlsx"
smallcase_sheet = pd.ExcelFile(smallcase_sheet_path)

constituents = pd.read_excel(smallcase_sheet, sheet_name="Historical Constituents")
constituents.head()

,Date Range,Constituents,Weightage
0,2016-04-04 to 2016-05-31,Delta Corp Ltd,0.1
1,NaN,DLF Ltd,0.1
2,NaN,Godrej Properties Ltd,0.1
3,NaN,Housing Development and Infrastructure Ltd,0.1
4,NaN,Indiabulls Real Estate Ltd,0.1

In [119]:
indexes = pd.read_excel(smallcase_sheet, sheet_name="Historical Index Values")
indexes.head()

         Date  Realty Tracker NIFTY Midcap Rebalance Occured
0  2016-04-04          100.00       100.00               NaN
1  2016-04-05           97.36        98.44               NaN
2  2016-04-06           99.06        98.91               NaN
3  2016-04-07           99.35        98.38               NaN
4  2016-04-08          100.06        98.98               NaN

### Fetch and POST Smallcase and Stats

In [285]:
smallcase_base_url = "https://api.smallcase.com"
resp = requests.get(f"{smallcase_base_url}/smallcases/smallcase?scid={smallcase_id}")

resp.status_code

200

In [286]:
smallcase = resp.json()["data"]
stats = smallcase["stats"]

def remove_p_tag(text: str):
    return re.sub(r"</?(p|ul|li)>", "", text)

methodologies = []
for m in smallcase["methodology"]:
    methodologies.append({
        "key": m["key"],
        "details": remove_p_tag(m["content"]),
    })

investment_strategies = []
for i in smallcase["info"]["investmentStrategy"]:
    investment_strategies.append(i["key"])

payload = {
    "id": smallcase_id,
    "name": smallcase["info"]["name"],
    "slug": smallcase["info"]["slug"],
    "description": smallcase["info"]["shortDescription"],
    "volatility": stats["ratios"]["riskLabel"],
    "popularity_rank": smallcase["flags"]["popular"]["rank"],
    "contains_etf": smallcase["flags"]["containsEtf"],
    "contains_stock": smallcase["flags"]["containsStock"],
    "constituent_count": smallcase["constituentsCount"],
    "growth_since_launch": {
        "cagr": stats["ratios"]["cagr"],
        "returns": stats["returns"]["sinceInception"],
        "duration": stats["ratios"]["cagrDuration"],
    },
    "benchmark": {
        "id": smallcase["benchmark"]["id"],
        "index": smallcase["benchmark"]["index"],
        "details": smallcase["benchmark"]["msg"],
    },
    "methodologies": methodologies,
    "launch_date": smallcase["info"]["uploaded"],
    "inception_date": smallcase["info"]["created"],
    "last_rebalance_date": smallcase["info"]["lastRebalanced"],
    "next_rebalance_date": smallcase["info"]["nextUpdate"],
    "investment_strategies": investment_strategies,
    "rebalance_frequency": smallcase["info"]["rebalanceSchedule"],
}

local_resp = requests.post(f"{local_base_url}/smallcases/", json=payload)
local_resp.status_code == 201

True

In [287]:
year = "2024"
month = "05"

payload = {
    "year": year,
    "month": month,
    "min_sip_amount": stats["minSipAmount"],
    "investor_count": stats["investorCount"],
    "subscriber_count": stats["subscriberCount"],
    
    "cagr": {
        "one_year": stats["ratios"]["cagr1y"],
        "three_year": stats["ratios"]["cagr3y"],
        "five_year": stats["ratios"]["cagr5y"],
    },
    "returns": {
        "monthly": stats["returns"]["monthly"],
        "quarterly": stats["returns"]["quarterly"],
        "half_year": stats["returns"]["halfyearly"],
        "one_year": stats["returns"]["yearly"],
        "three_year": stats["returns"]["threeYear"],
        "five_year": stats["returns"]["fiveYear"],
    },
    "ratios": {
        "dividend_yield": stats["ratios"]["divYield"],
        "dividend_yield_differential": stats["ratios"]["divYieldDifferential"],

        "risk": stats["ratios"]["risk"],
        "pe": stats["ratios"]["pe"],
        "pb": stats["ratios"]["pb"],
        "beta": stats["ratios"]["beta"],
        "sharpe": stats["ratios"]["sharpeRatio"],
    },
    "weightage": {
        "large_cap": stats["ratios"]["largeCapPercentage"],
        "mid_cap": stats["ratios"]["midCapPercentage"],
        "small_cap": stats["ratios"]["smallCapPercentage"],
        "market_category": stats["ratios"]["marketCapCategory"]
    }
}

local_resp = requests.post(f"{local_base_url}/smallcases/{smallcase_id}/statistics/", json=payload)
local_resp.status_code == 201

True

### Upload XLSX to bucket

In [288]:
blob = bucket.blob(f"smallcases/{smallcase_id}/timeline.xlsx")
blob.upload_from_filename(smallcase_sheet_path)

### Map and POST Smallcase Name to Upstox Instruments

In [289]:
postable_constituents = constituents["Constituents"].unique()
len(postable_constituents)

19

In [290]:
successful_constitents = []
failed_constitents = []

async def query_ticker_name(name: str):
    return await db.collection("tickers").where("name", ">=", name).where("name", "<=", name + '\uf8ff').get()

for c in postable_constituents:
    q = c.upper()
    docs = await query_ticker_name(q)
    if len(docs) == 0:
        failed_constitents.append(c)
    else:
        for e in docs:
            await db.collection("tickers").document(e.id).update({
                "smallcase_name": c
            })
            successful_constitents.append((c, e.id))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/google/cloud/firestore_v1/base_collection.py:302: UserWarning: Detected filter using positional arguments. Prefer using the 'filter' keyword argument instead.
  return query.where(field_path, op_string, value)
/var/folders/4x/3kzzlsjs1q36v35r81960pt40000gn/T/ipykernel_57447/2676511566.py:5: UserWarning: Detected filter using positional arguments. Prefer using the 'filter' keyword argument instead.
  return await db.collection("tickers").where("name", ">=", name).where("name", "<=", name + '\uf8ff').get()

In [291]:
len(successful_constitents), len(failed_constitents)

(4, 15)

In [292]:
# # All return upper

def replace_ltd(s):
    return s.upper().replace("LTD", "LIMITED")

# def replace_technologies(s):
#     return s.upper().replace("TECHNOLOGIES", "TECHNO.")

# def replace_company(s):
#     return s.upper().replace("COMPANY", "CO")

# def replace_corporation(s):
#     return s.upper().replace("CORPORATION", "CORP")

# Ltd -> Limited
for f in failed_constitents:
    q = replace_ltd(f)
    docs = await query_ticker_name(q)
    if len(docs) != 0:
        for e in docs:
            await db.collection("tickers").document(e.id).update({
                "smallcase_name": f
            })
            successful_constitents.append((f, e.id))
            failed_constitents.remove(f)

/var/folders/4x/3kzzlsjs1q36v35r81960pt40000gn/T/ipykernel_57447/2676511566.py:5: UserWarning: Detected filter using positional arguments. Prefer using the 'filter' keyword argument instead.
  return await db.collection("tickers").where("name", ">=", name).where("name", "<=", name + '\uf8ff').get()

In [293]:
len(successful_constitents), len(failed_constitents)

(8, 11)

In [294]:
nse = pd.read_csv("data/upstox/NSE.csv")
equities = nse.query('instrument_type == "EQUITY" and exchange == "NSE_EQ"')
equities.head()

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
77,NSE_EQ|DUMMYSAN005,14747.0,011NSETEST,011NSETEST,NaN,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
78,NSE_EQ|DUMMYSAN006,14751.0,021NSETEST,021NSETEST,NaN,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
79,NSE_EQ|DUMMYSAN007,14753.0,031NSETEST,031NSETEST,NaN,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
80,NSE_EQ|DUMMYSAN008,14755.0,041NSETEST,041NSETEST,NaN,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
81,NSE_EQ|DUMMYSAN009,14758.0,051NSETEST,051NSETEST,NaN,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ

In [295]:
import difflib
df = equities.filter(['name', "exchange_token"])
tickers = pd.DataFrame() 
r = {}
for f in failed_constitents:
    df['similarity'] = df["name"].apply(lambda x: difflib.SequenceMatcher(None, x.lower(), f.lower()).ratio())
        
    top_match = df.sort_values(by='similarity', ascending=False).head(1)
    top_match['smallcase_name'] = f
        
    tickers = pd.concat([tickers, top_match], ignore_index=True)

tickers

,name,exchange_token,similarity,smallcase_name
0,DLF LIMITED,14732.0,0.777778,DLF Ltd
1,HOUSING DEV & INFRA LTD,17920.0,0.676923,Housing Development and Infrastructure Ltd
2,INDIABULLS REAL EST. LTD,14450.0,0.920000,Indiabulls Real Estate Ltd
3,THE PHOENIX MILLS LTD,14552.0,0.894737,Phoenix Mills Ltd
4,PRESTIGE ESTATE LTD,20302.0,0.791667,Prestige Estates Projects Ltd
5,UNITECH LIMITED,8893.0,0.846154,Unitech Ltd
6,BRIGADE ENTER. LTD,15184.0,0.829268,Brigade Enterprises Ltd
7,PURAVANKARA LIMITED,14926.0,0.882353,Puravankara Ltd
8,MAHINDRA LIFESPACE DEVLTD,8050.0,0.862069,Mahindra Lifespace Developers Ltd
9,KOLTE PATIL DEV. LTD.,15124.0,0.765957,Kolte-Patil Developers Ltd
10,MINDSPACE BUSINESS P REIT,22308.0,0.925926,Mindspace Business Parks REIT

In [296]:
# incorrect = [0, 1, 7, 10, 24, 26]
# corrections = {
#     "7": "11782",
#     "26": "15034"
# }

# cannot_correct = len(incorrect) - len(corrections)
# for i in incorrect:
#     n = tickers.iloc[i]["smallcase_name"]
#     correct_token = corrections.get(str(i), None)
#     if correct_token:
#         correct = equities.query(f"exchange_token == {correct_token}").iloc[0]
#         tickers.loc[i, ['exchange_token', 'name', 'similarity']] = [correct_token, correct['name'], 1.0]

# for i in incorrect:
#     correct_token = corrections.get(str(i), None)
#     if not correct_token:
#         tickers.drop(i, inplace=True)
# cannot_correct, tickers.shape

2, 15 for Safe Haven do not exist (Polaris Consulting & Monsanto were merged w other companies).
Trade-off -> 

We cannot fetch market data for these stocks, so we do not add them to the equities list.
When rebalancing for Kelly, we will ignore these stocks, maintaining their original weightage and assess the implications.

In [297]:
payload = tickers[['exchange_token', 'smallcase_name']].to_dict(orient='records')
for p in payload:
    id = str(int(p['exchange_token']))
    await db.document(f"tickers/{id}").update({"smallcase_name": p["smallcase_name"]})
    successful_constitents.append((p["smallcase_name"], id))

In [298]:

len(successful_constitents), len(successful_constitents) == (len(postable_constituents) - 0)

(19, True)

All Weather = 5

Safe Haven = 73

Growth & Income = 102 (~10 corrections)

The Naked Trader = 115 (~12 corrections)

The PE List = 37 (7 corrections, 3 possible)

Dividend Stars = 38

Dividend Aristocrats = 31 (3 corrections, 2 possible)

Electric Mobility = 29 (1 correction)

Rising Rural Demand = 52 (6 corrections, 4 possible)

The House of Tata = 11

The House of Murugappa = 5

Realty Tracker = 19


**517 total, 347 unique (after querying db)**

### POST Smallcase Constituents

In [115]:
def get_constituent_payload(name: str, weight: float):
    return {
        "smallcase_name": name,
        "original_weightage": weight
    }

In [120]:
constituents_group = constituents.fillna(method='ffill').groupby("Date Range").apply(lambda x:[get_constituent_payload(row["Constituents"], row["Weightage"]) for i, row in x.iterrows()]).reset_index(name='Constituents')
constituents_group.head()

/var/folders/4x/3kzzlsjs1q36v35r81960pt40000gn/T/ipykernel_53960/3640253601.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  constituents_group = constituents.fillna(method='ffill').groupby("Date Range").apply(lambda x:[get_constituent_payload(row["Constituents"], row["Weightage"]) for i, row in x.iterrows()]).reset_index(name='Constituents')
/var/folders/4x/3kzzlsjs1q36v35r81960pt40000gn/T/ipykernel_53960/3640253601.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  constituents_group = constituents.fillna(method='ffill').groupby("Date Range").apply(lambda x:[get_constituent_payload(row["Constituents"], row["Weightage"]) for i, row in x.iterrows()]).reset_index(name='Constituents')

                 Date Range                                       Constituents
0  2016-04-04 to 2016-05-31  [{'smallcase_name': 'Delta Corp Ltd', 'origina...
1  2016-06-01 to 2016-08-31  [{'smallcase_name': 'Delta Corp Ltd', 'origina...
2  2016-09-01 to 2016-11-30  [{'smallcase_name': 'Delta Corp Ltd', 'origina...
3  2016-12-01 to 2017-02-28  [{'smallcase_name': 'DLF Ltd', 'original_weigh...
4  2017-03-01 to 2017-05-31  [{'smallcase_name': 'DLF Ltd', 'original_weigh...

In [121]:
s, f = 0, 0
failed = []
for i, row in constituents_group.iterrows():
    start_date, end_date = row["Date Range"].split(" to ")
    payload = {
        "start_date": start_date,
        "end_date": end_date,
        "constituents": row["Constituents"]
    }

    resp = requests.post(f"{local_base_url}/smallcases/{smallcase_id}/constituents", json=payload)
    if resp.status_code == 201:
        s += 1
    else:
        f += 1
        print(resp.json())
        failed.append(row)

print(f"Success: {s}, Failed: {f}")

Success: 33, Failed: 0

Smallcase - Unique date ranges successful, failed

All Weather - 25, 0

Safe Haven - 33, 0

Growth & Income - 31, 0

The Naked Trader - 32, 0

The PE List - 9, 0

Dividend Stars - 12, 0

Dividend Aristorcrats - 12, 0

Electric Mobility - 27, 0

Rising Rural Demand - 33, 0

House of Tata - 14, 0

House of Murugappa - 8, 0

Realty Tracker - 33, 0

In [7]:
for smallcase in ids[0:1]:
    id = smallcase["id"]
    file_path = f"smallcases/{id}/pfp.png"
    file = bucket.blob(file_path)
    await db.document(f"smallcases/{id}").update({"pfp_url": file.public_url})

/Users/aaryanpagar/Library/Python/3.11/lib/python/site-packages/google/api_core/retry/retry_unary.py:146: UserWarning: Using the synchronous google.api_core.retry.Retry with asynchronous calls may lead to unexpected results. Please use google.api_core.retry_async.AsyncRetry instead.
  warnings.warn(_ASYNC_RETRY_WARNING)